@charset "UTF-8";
.newstitle, .pic, .pic img, .reservation, footer .copyright {
	text-align: center
}
html {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", "メイリオ", Meiryo, Osaka, sans-serif;
	font-size: 16px;
	background-color: #FFF
}
body {
	width: 100%;
	-webkit-text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	color: #333;
	line-height: 1.8;
	font-feature-settings: "palt" 1;
	letter-spacing: .06em
}

body a {
	color: #99b438;
	text-decoration: none;
	-webkit-transition: color .3s ease;
	-moz-transition: color .3s ease;
	-ms-transition: color .3s ease;
	-o-transition: color .3s ease;
	transition: color .3s ease
}
body a:hover {
	text-decoration: underline
}
body a img {
	-webkit-transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-ms-transition: opacity .3s ease;
	-o-transition: opacity .3s ease;
	transition: opacity .3s ease;
	backface-visibility: hidden
}
body a img:hover {
	-ms-filter: "alpha( opacity=$number*100 )";
	filter: alpha(opacity=70);
	opacity: .7
}
body img {
	max-width: 100%;
	height: auto
}
body .wrap {
	width: 980px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative
}

body::-moz-selection {
	background: rgba(155, 176, 212, .2);
}
header {
	width: 100%;
	left: 0;
	z-index: 100;
	overflow: hidden;
}
header:after, header:before {
	display: block;
	height: 140px;
	content: ""
}
header, header:after, header:before {
	position: absolute;
	top: 0
}
header:after {
	left: 50%;
	width: 1800px;
	background: url(../../common-parts/image/bg/bg-header1.png) top right no-repeat;
	margin-left: -1100px
}
header:before {
	left: auto;
	width: 1400px;
	background: url(../../common-parts/image/bg/header-tel.png) top right no-repeat;
	right: 50%;
	margin-right: -650px
}
header .inner {
	z-index: 150;
	width: 980px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	padding-top: 7px
}
header .inner .logo {
	margin-right: 15px
}
header .inner .tag-line {
	font-size: 14px;
	font-size: .875rem
}
.pc {
	display: block
}
.sp {
	display: none
}
img.pc {
	display: inline
}
img.sp {
	display: none
}
.reservation {
	width: 70%;
	margin: 0 auto
}
.news {
	width: 650px;
	margin: 0 auto;
	font-size: .9rem;
	line-height: 1.4
}
.newstitle {
	color: #E32B2E;
	margin-bottom: 10px
}
.way li {
	width: 24%;
	max-width: 240px;
	display: inline-block;
	vertical-align: top;
	margin: 0 auto
}
.way span {
	line-height: 1.2;
	display: block;
	margin-bottom: 14px
}
.price {
	text-align: center;
	padding: 0 16px;
}
#access {
	overflow: auto
}
.contents{
	overflow: hidden
}

.info, dt {
	float: right
}

.contents, .info {
	background-color: #FFF
}
.contents {
	margin: 0 0 50px;
	padding: 0
}
.adress, .tel {
	background-repeat: no-repeat;
	margin-bottom: 10px
}
.adress, .opentime, .tel, dd {
	padding-left: 40px
}
.hide {
	display: none
}
.pic img {
	width: 100%;
	max-width: 740px
}
.info {
	height: 440px;
	width: 50%
}
dd, dt {
	height: 30px;
	width: 45%
}
.adress {
	background-image: url(../../common-parts/image/icon-access_01.svg);
	background-position: 10px 3px
}
.tel {
	background-image: url(../../common-parts/image/icon-tel.svg);
	background-position: 6px 0
}
.adress span {
	display: block;
	margin-bottom: -8px
}
footer ul, main #point .point1 {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex
}
.opentime, dl {
	background-repeat: no-repeat;
	margin-bottom: 10px
}
dl {
	height: 60px;
	background-image: url(../../common-parts/image/icon-access_02.svg);
	background-position: 8px 3px
}
dd {
	float: left
}
.opentime {
	background-image: url(../../common-parts/image/icon-access_03.svg);
	background-position: 6px 3px
}
footer {
	width: 100%;
	width: 980px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto
}
footer.next {
	position: relative;
	width: 100%;
	left: auto;
	bottom: auto;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	background-color: #f5f6f8;
	padding: 20px 0
}
footer.next .copyright, footer.next ul {
	width: 980px;
	margin-left: auto;
	margin-right: auto;
	max-width: 100%
}
footer.next .copyright {
	line-height: 1;
	padding-bottom: 0
}
footer ul {
	width: 100%;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	-webkit-justify-content: flex-end;
	justify-content: flex-end;
	padding-bottom: 10px
}
footer ul li {
	margin-right: 25px;
	white-space: nowrap
}
footer ul li:last-of-type {
	margin-right: 0
}
footer ul li a {
	font-size: 14px;
	font-size: .875rem;
	color: #333
}
footer .copyright {
	width: 100%;
	font-family: Arial, 'ＭＳ Ｐゴシック', sans-serif;
	font-size: 12px;
	font-size: .75rem;
	padding-bottom: 15px;
	margin-top: 10px
}
#nursery {
	text-align: center;
	background-image: url("../../common-parts/image/nursery_bg.png");
	background-position: bottom;
	background-color: #FFFDF2;
	background-repeat: repeat-x;
	padding: 10px 0 50px 0;
}
#nursery h2 {
	font-size: 2rem;
	font-weight: bold;
	padding: 0;
}
#nursery p {
	font-size: 0.93rem;
	padding: 20px 0;
}
#nursery p span {
	color: #DE0003;
	font-weight: bold;
}
#nursery img {
	width: 90%;
	max-width: 480px;
}
#nursery a {
	color: #001CD9;
}
#nursery .access {
	font-size: 1rem;
	font-weight: bold;
	padding: 10px 0 20px 0;
}
#nursery .access span {
	display: block;
	font-size: 0.8rem;
	font-weight: normal;
}
#nursery .caution {
	text-align: center;
	line-height: 1.4;
	font-size: 0.8rem;
	padding: 10px;
}
#mainimg {
	background-color: #f5f6fa;
	position: relative;
	padding-top: 154px
}
#mainimg .inner {
	padding: 20px 0 60px;
	position: relative;
	width: 980px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: -50px
}
#mainimg .inner .txt {
	vertical-align: bottom;
	margin-bottom: 14px
}
#mainimg .inner .txt span {
	line-height: 0;
	display: -moz-inline-box;
	display: inline-block;
	vertical-align: bottom
}
#mainimg .inner .txt span:first-of-type {
	margin-bottom: 5px;
	margin-right: 15px
}
#mainimg .inner .catch2 {
	width: 65%;
	padding-bottom: 25px;
	position: relative;
	z-index: 1000
}
#mainimg .inner .open-area {
	position: relative;
	z-index: 0;
	width: 100%
}
#mainimg .inner .open-area .btn {
	position: absolute;
	bottom: 20px;
	width: 46%
}
#mainimg .inner .img {
	margin-top: -110px
}
.loanTxt {
	line-height: 1.2;
	font-size: .7rem;
	position: absolute;
	z-index: 1000;
	text-align: left;
	width: 100%
}
main #point .item-hd .title, main #point .point1 .item-img .title {
	z-index: 2;
	position: relative
}
main #lead h2, main .lh0 {
	line-height: 0
}
main .content {
	width: 980px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto
}
main small {
	font-size: 12px;
	font-size: .75rem
}
main #lead {
	padding: 30px 0 48px;
	text-align: center
}
main #lead h2 {
	padding-bottom: 30px;
	padding-top: 20px
}
main #lead .txt {
	font-size: 16px;
	font-size: 1rem;
	padding-bottom: 30px;
	line-height: 2;
	text-align: left
}
.heading-lv01, .introduce h2, .introduce h3, .introduce h4, .tac, main #access .bnr, main #company .title, main #hair-loss .img, main #hair-loss .satisfaction-box .title, main #point .item-hd, main #point .point1 .item-img .img, main #point .point1 .item-txt .first, main #point .point2 {
	text-align: center
}
.heading-lv01 {
	padding: 40px 20px;
	line-height: 0;
	background-color: rgba(31, 178, 209, .8);
	position: relative;
	margin-bottom: 45px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 1.2rem;
	color: #FFF;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight: 700;
	letter-spacing: 4px
}
.heading-lv01:after {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 25px 0;
	border-color: rgba(31, 178, 209, .8) transparent transparent;
	position: absolute;
	left: 50%;
	bottom: -20px;
	margin-left: -25px
}
main #lead img {
	width: 100%;
	max-width: 880px
}
main #point {
	background: url(../../common-parts/image/bg/bg.jpg) center center no-repeat fixed;
	background-size: cover;
	padding-bottom: 50px
}
main #point .point-block {
	width: 900px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 30px
}
main #point .point-block:last-of-type {
	padding-bottom: 0
}
main #point .item-hd .no {
	padding-bottom: 30px
}
main #point .item-hd .txt {
	padding-bottom: 35px
}
main #point .item-hd .txt2 {
	padding-bottom: 30px
}
main #point .item-hd .title {
	padding-bottom: 20px
}
main #point .w-box {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
	border-radius: 10px;
	background-color: #FFF;
	padding: 20px 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 7px
}
main #hair-loss .satisfaction-box .title, main #hair-loss .satisfaction-box ul li {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box
}
main #point .point1 {
	display: flex
}
main #point .point1 .item-img {
	width: 280px;
	margin: 0 auto
}
main #point .point1 .item-img .img {
	margin-top: 10px
}
main #point .point1 .item-txt {
	width: 10px;
	-ms-flex: 1 0 auto;
	-webkit-flex-grow: 1;
	flex-grow: 1;
	font-size: 14px;
	font-size: .875rem
}
main #point .point1 .item-txt .txt {
	padding-bottom: 15px;
	line-height: 1.5
}
main #point .point1 .item-txt .icon {
	padding-bottom: 15px
}
main #point .point1 .item-txt ul {
	line-height: 1.5
}
main #point .point1 .item-txt ul li {
	padding-bottom: 16px
}
main #point .point1 .item-txt ul li:last-of-type {
	padding-bottom: 0
}
main #point .point1 .item-txt ul li .title {
	line-height: 1.5;
	padding-bottom: 4px;
	color: #2bb2d1;
	font-size: 16px;
	font-size: 1rem;
	font-weight: 700
}
main #point .point2 {
	padding-top: 30px;
	padding-bottom: 30px
}
main #hair-loss {
	padding: 20px 0 60px
}
main #hair-loss .inner {
	width: 980px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto
}
main #hair-loss .hd {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center
}
main #hair-loss .hd .no {
	width: 216px
}
main #hair-loss .hd .txt {
	width: 10px;
	-ms-flex: 1 0 auto;
	-webkit-flex-grow: 1;
	flex-grow: 1
}
main #hair-loss .satisfaction-box .title {
	line-height: 1.2;
	padding: 12px 10px;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
	width: 80%;
	margin: 0 auto
}
main #hair-loss .satisfaction-box .title:before {
	content: "";
	display: block;
	position: absolute;
	left: 50%;
	top: auto;
	width: 0;
	height: 0;
	bottom: -10px
}
main #hair-loss .satisfaction-box ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap
}
main #hair-loss .satisfaction-box ul li {
	margin: 4px;
	width: 49%;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #fff8fa;
	position: relative;
	letter-spacing: -.03em;
	border: 1px solid #FDE3E3
}
main #hair-loss .satisfaction-box ul li .txt {
	padding: 26px 8px
}
main #hair-loss .satisfaction-box ul li:nth-child(2), main #hair-loss .satisfaction-box ul li:nth-child(3), main #hair-loss .satisfaction-box ul li:nth-child(6) {
	background-color: #fff8fa
}
main #hair-loss .satisfaction-box ul li div {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%
}
main #hair-loss .satisfaction-box ul li div .fukidashi {
	margin-top: 10px;
	margin-left: 10px
}
main #hair-loss .satisfaction-box ul li div .fukidashi img {
	width: auto;
	height: 140px
}
main #hair-loss .satisfaction-box ul li .img {
	position: absolute;
	right: 62px;
	bottom: 0;
	line-height: 0
}
main #hair-loss .satisfaction-box .s-title {
	line-height: 1.5;
	padding: 8px;
	font-size: 19px;
	font-size: 1.21875rem;
	font-weight: 700;
	letter-spacing: -.03em;
	background: #ff6fa2;
	color: #FFF
}
main #support {
	background: url(../../common-parts/image/bg/bg2.jpg) center center no-repeat fixed;
	background-size: cover;
	padding: 60px 0;
	text-align: center;
}
main #faq .inner {
	width: 980px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto
}
main #faq a {
	color: #0F89E1
}
main #faq ul li {
	position: relative;
	padding-bottom: 40px;
	padding-left: 75px
}
main #faq ul li:after {
	content: '';
	display: block;
	width: 65px;
	height: 57px;
	position: absolute;
	background: url(../../common-parts/image/icon-q.png) left top no-repeat;
	left: 0;
	top: -15px
}
main #faq ul li .title {
	font-size: 18px;
	font-size: 1.125rem;
	line-height: 1.5;
	padding-bottom: 18px;
	color: #99b438;
	font-weight: 700
}
main #access {
	padding: 60px 0;
	background: url(../../common-parts/image/bg/bg3.jpg) center center no-repeat fixed;
	background-size: cover
}
main #access .hd {
	padding-bottom: 40px;
	text-align: center
}
main #access .access-block {
	padding-bottom: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex
}
main #access .access-block .item-access {
	width: 50%;
	background-color: #FFF
}
main #access .access-block .item-access .txt {
	padding: 25px 0 40px;
	background-color: #FFF
}
main #access .access-block .item-access .txt:after {
	clear: both;
	display: block;
	content: ''
}
main #access .access-block .item-access .txt > ul {
	width: 490px;
	float: right
}
main #access .access-block .item-access .txt > ul > li {
	padding-left: 35px;
	padding-bottom: 15px;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box
}
main #access .access-block .item-access .txt > ul > li:last-of-type {
	padding-bottom: 0
}
main #access .access-block .item-access .txt > ul > li:after {
	content: '';
	display: block;
	width: 25px;
	height: 28px;
	position: absolute;
	background: left center no-repeat;
	left: 0;
	top: 0
}
main #access .access-block .item-access .txt > ul > li ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-wrap: wrap;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap
}
main #access .access-block .item-access .txt > ul > li ul li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	margin-right: 25px
}
main #access .access-block .item-access .txt > ul > li ul li .p1 {
	width: 70px;
	margin-right: 10px
}
main #access .access-block .item-access .map {
	position: relative;
	padding-bottom: 280px;
	height: 0;
	overflow: hidden
}
main #access .access-block .item-access .map embed, main #access .access-block .item-access .map iframe, main #access .access-block .item-access .map object {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%
}
main #access .access-block .item-bg {
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	width: 50%;
	background: url(../../common-parts/image/pict-access.jpg) center center no-repeat;
	background-size: cover
}
main #company {
	padding-top: 300px
}
main #company .title {
	color: #333;
	padding-bottom: 25px;
	font-size: 26px;
	font-size: 1.625rem;
	font-weight: 500
}
.introduce {
	margin: 0 auto;
	padding: 0 0 20px;
	width: 100%;
	position: relative;
	display: block
}
.introduce h2 {
	font-size: 2rem;
	color: #672500;
	margin: 20px 0 0
}
.introduce h3 {
	font-size: 1.4rem;
	margin: 10px
}
.introduce h3 img {
	width: 50%
}
.introduce h4 {
	font-size: 1.2rem;
	background-color: #FFB961;
	color: #FFF;
	padding: 8px
}
.introduce ul li {
	background-color: #FEFFE6;
	padding: 8px 0 6px 4px;
	margin: 4px 0;
	font-size: 1rem;
	font-weight: 700
}
.introduce ul li img {
	opacity: 0
}
table{width: 100%;}
table td, table th {
	padding: 15px;
	border: 5px solid #FFF;
	vertical-align: middle
}
table th {
	width: 140px;
	background-color: #eaeaea;
	font-weight: 700
}
table td {
	background-color: #f5f6f8
}
table td a {
	color: #333
}
table thead th {
	background-color: #b3b3b3;
	color: #FFF
}
@media screen and (max-width:850px) {
	main #access, main #point, main #support {
		background-attachment: inherit
	}
	.pc {
		display: none
	}
	.sp {
		display: block
	}
	img.pc {
		display: none
	}
	img.sp {
		display: inline
	}
	.introduce {
		margin: 0 auto;
		width: 100%
	}
	.introduce h2 {
		text-align: center;
		margin: 20px auto 0
	}
	.introduce h2 img {
		width: 120px
	}
	.introduce h3 {
		font-size: 1.4rem;
		text-align: center;
		margin: 10px
	}
	.introduce h3 img {
		width: 290px
	}
	.introduce h4 {
		font-size: 1.2rem;
		background-color: #FFB961;
		text-align: center;
		color: #FFF;
		padding: 8px
	}
	.introduce ul li {
		background-color: #FEFFE6;
		padding: 10px 0;
		margin: 4px 0
	}
	.txcenter {
		font-size: .8rem;
		padding: 4px
	}
	main .content {
		padding-left: 20px;
		padding-right: 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box
	}
	main #point .point-block, main #point .w-box {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box
	}
	main #lead {
		padding: 20px 20px 35px
	}
	main #lead h2 {
		padding-bottom: 25px;
		padding-top: 10px
	}
	main #lead .txt {
		font-size: 14px;
		font-size: .875rem;
		padding-bottom: 25px
	}
	main #point {
		padding-bottom: 45px
	}
	main #point .point-block {
		padding-left: 20px;
		padding-right: 20px;
		box-sizing: border-box
	}
	main #point .point-block:last-of-type {
		padding-bottom: 0
	}
	main #point .item-hd .no {
		padding-bottom: 20px
	}
	main #point .item-hd .no img {
		height: 55px;
		width: auto
	}
	main #point .item-hd .txt {
		padding-bottom: 25px
	}
	main #point .item-hd .txt2 {
		padding-bottom: 20px;
		text-align: left
	}
	main #point .item-hd .title {
		padding-bottom: 20px
	}
	main #point .w-box {
		padding: 10px 15px;
		box-sizing: border-box;
		margin-bottom: 7px
	}
	main #hair-loss .inner, main #hair-loss .satisfaction-box ul li div .fukidashi {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box
	}
	main #point .point1 {
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap
	}
	main #point .point1 .item-img {
		width: 100%;
		margin-right: 0
	}
	main #point .point1 .item-img .title {
		position: relative;
		z-index: 2
	}
	main #point .point1 .item-img .img {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px
	}
	main #point .point1 .item-img .img img {
		width: 150px
	}
	main #point .point1 .item-txt {
		width: 100%
	}
	main #point .point1 .item-txt .icon, main #point .point1 .item-txt .txt {
		padding-bottom: 15px
	}
	main #point .point1 .item-txt ul {
		line-height: 1.5
	}
	main #point .point1 .item-txt ul li {
		padding-bottom: 10px
	}
	main #point .point1 .item-txt ul li .title {
		line-height: 1.5;
		padding-bottom: 4px;
		font-size: 16px;
		font-size: 1rem
	}
	main #point .point2 {
		padding: 20px 15px;
		text-align: center
	}
	main #hair-loss .inner {
		padding-left: 8px;
		padding-right: 8px;
		box-sizing: border-box
	}
	main #hair-loss .hd {
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap
	}
	main #hair-loss .hd .no {
		width: 90px
	}
	main #hair-loss .hd .txt, main #hair-loss .satisfaction-box ul li {
		width: 100%
	}
	main #hair-loss .hd .txt2 {
		text-align: center;
		padding-bottom: 20px;
		width: 100%
	}
	main #hair-loss .img {
		padding-bottom: 30px
	}
	main #hair-loss .satisfaction-box .title {
		padding: 10px
	}
	main #hair-loss .satisfaction-box ul li:nth-child(1), main #hair-loss .satisfaction-box ul li:nth-child(2), main #hair-loss .satisfaction-box ul li:nth-child(3), main #hair-loss .satisfaction-box ul li:nth-child(5), main #hair-loss .satisfaction-box ul li:nth-child(6) {
		background-color: #fff8fa
	}
	main #hair-loss .satisfaction-box ul li div {
		position: relative;
		left: auto;
		top: auto;
		height: auto;
		width: 280px;
		margin: 0 auto
	}
	main #hair-loss .satisfaction-box ul li div .fukidashi {
		padding-right: 90px;
		box-sizing: border-box;
		width: 280px;
		margin: 0 auto
	}
	main #faq ul, main #support {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box
	}
	main #hair-loss .satisfaction-box ul li div .fukidashi img {
		width: auto;
		height: 110px
	}
	main #hair-loss .satisfaction-box ul li .img {
		position: absolute;
		left: 50%;
		right: auto;
		margin-left: 40px;
		bottom: -30px;
		line-height: 0;
		width: 100px
	}
	main #hair-loss .satisfaction-box .s-title {
		font-size: 19.5px;
		font-size: 1.21875rem
	}
	main #support {
		box-sizing: border-box;
		padding: 40px 20px
	}
	main #faq ul {
		padding-left: 16px;
		padding-right: 16px;
		box-sizing: border-box
	}
	main #access .access-block .item-access .txt, main #access .bnr {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box
	}
	main #faq ul li {
		padding-bottom: 40px;
		padding-left: 40px
	}
	main #faq ul li:after {
		background-size: 35px auto;
		width: 35px;
		top: -5px
	}
	main #faq ul li .title {
		font-size: 16px;
		font-size: 1rem;
		padding-bottom: 10px
	}
	main #access .hd {
		padding-bottom: 30px
	}
	main #access .hd img {
		height: 22px;
		width: auto
	}
	main #access .access-block .item-access .txt > ul, main #access .access-block .item-bg {
		width: 100%
	}
	main #access .access-block {
		padding-bottom: 30px;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap
	}
	main #access .access-block .item-access {
		width: 100%;
		font-size: 15px;
		font-size: .9375rem
	}
	main #access .access-block .item-access .txt {
		padding: 20px;
		box-sizing: border-box
	}
	main #access .access-block .item-access .txt > ul > li {
		padding-bottom: 10px
	}
	main #access .access-block .item-access .map {
		padding-bottom: 220px
	}
	main #access .bnr {
		padding-left: 10px;
		padding-right: 10px;
		max-width: 400px;
		margin: 0 auto;
		box-sizing: border-box
	}
	main #company {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		padding: 150px 20px 120px
	}
	main #company .title {
		padding-bottom: 15px;
		font-size: 23px;
		font-size: 1.4375rem
	}
	table th {
		margin-top: 5px;
		border-bottom: none
	}
	table td, table th {
		padding: 10px 2%;
		width: 96%;
		display: block;
		border: none
	}
	table td {
		border-top: none;
		padding: 10px 2%
	}
	.post img.alignright {
		max-width: 160px;
		height: auto;
		margin: 0 0 10px 10px
	}
	.post img.alignleft {
		max-width: 160px;
		height: auto;
		margin: 0 10px 10px 0
	}
	.heading-lv01 {
		padding: 20px;
		margin-bottom: 45px;
		font-size: 1.4rem!important
	}
	.heading-lv01:after {
		content: '';
		display: block;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 20px 25px 0;
		border-color: rgba(31, 178, 209, .8) transparent transparent;
		position: absolute;
		left: 50%;
		bottom: -20px;
		margin-left: -25px
	}
	.heading-lv01.green {
		background-color: #bcd955
	}
	.heading-lv01.green img {
		width: 95%
	}
	.heading-lv01.green:after {
		border-color: #bcd955 transparent transparent
	}
	.tab li, dd {
		float: left
	}
	#access {
		overflow: auto
	}
	.contents, .info {
		background-color: #FFF
	}
	.contents {
		margin: 0 0 50px;
		padding: 0
	}
	.hide {
		display: none
	}
	.info {
		width: 100%;
		margin-bottom: -10px
	}
	dd, dt {
		width: 45%
	}
	.adress, .tel {
		background-repeat: no-repeat;
		margin-bottom: 10px;
		padding-left: 40px
	}
	.adress {
		background-image: url(../../common-parts/image/icon-access_01.svg);
		background-position: 10px 3px
	}
	.tel {
		background-image: url(../../common-parts/image/icon-tel.svg);
		background-position: 6px 0
	}
	.adress span {
		display: block;
		margin-bottom: -8px
	}
	.opentime, dl {
		background-repeat: no-repeat;
		margin-bottom: 10px
	}
	dl {
		height: 60px;
		background-image: url(../../common-parts/image/icon-access_02.svg);
		background-position: 8px 0
	}
	.opentime, dd, dt {
		height: 30px
	}
	dd {
		padding-left: 40px
	}
	dt {
		float: right
	}
	.opentime {
		background-image: url(../../common-parts/image/icon-access_03.svg);
		padding-left: 40px;
		background-position: 6px 0
	}
	footer, footer.next {
		padding-left: 20px;
		padding-right: 20px
	}
	footer {
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box
	}
	footer ul {
		padding-bottom: 5px
	}
	footer ul li {
		margin-right: 15px
	}
	footer .copyright {
		padding-bottom: 10px
	}
	#mainimg {
		overflow: hidden;
		text-align: center
	}
	#mainimg .inner {
		padding: 0 20px;
		text-align: center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: 50px;
		margin-bottom: 50px
	}
	#mainimg .inner .mainimg-block {
		position: relative;
		z-index: 100
	}
	#mainimg .inner .txt {
		vertical-align: top;
		margin-left: 20px;
		margin-top: -90px;
		margin-bottom: -50px;
		text-align: left;
		width: 100%;
		max-width: 240px
	}
	#mainimg .inner .txt img {
		width: 100%
	}
	#mainimg .inner .txt span:first-of-type {
		margin-bottom: 5px;
		margin-right: 0
	}
	#mainimg .inner .catch2 {
		text-align: left;
		margin-left: 20px;
		margin-top: 60px;
		position: absolute
	}
	#mainimg .inner .catch2 img {
		width: 70%
	}
	#mainimg .inner .open-area {
		width: 100%
	}
	#mainimg .inner .open-area .btn {
		position: absolute;
		bottom: 50px;
		width: 400px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%)
	}
	#mainimg .inner .open-area .btn a {
		padding: 15px 0
	}
	#mainimg .inner .open-area .btn a img {
		height: 22px;
		width: auto
	}
	#mainimg .inner .img {
		width: 100%;
		margin-bottom: -8px;
		z-index: 100;
		text-align: right
	}
	#mainimg .inner .img img {
		width: 100%
	}
	.loanTxt {
		line-height: 1.2;
		font-size: .7rem;
		text-align: left;
		width: 90%
	}
	.news {
		width: 90%;
		margin: 0 auto;
		font-size: 1rem;
		line-height: 1.6
	}
	.newstitle {
		text-align: center;
		color: #E32B2E;
		margin-bottom: 10px
	}
	header {
		padding-bottom: 70px;
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 100;
	}
	header:after {
		right: auto;
		left: 0;
		top: -30px;
		margin-left: 0;
		width: 100%;
		background-position: -720px center
	}
	header:before {
		top: 10px;
		right: 0;
		left: auto;
		margin-left: 0;
		background-size: auto 100px
	}
	header .inner {
		z-index: 150;
		width: 980px;
		max-width: 100%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		padding-top: 5px;
		-ms-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap
	}
	header .inner .logo {
		margin-right: 0
	}
	header .inner .logo img {
		height: 60px;
		width: auto
	}
	.reservation {
		width: 90%;
		margin: 0 auto;
		text-align: center
	}
	.heading-lv01 {
		font-size: 1.4rem!important;
		letter-spacing: 1px!important;
		padding: 30px 0!important
	}
	.way li {
		width: 49%;
		max-width: none;
		display: inline-block;
		vertical-align: top;
		margin: 0 auto
	}
	.way span {
		line-height: 1.2;
		display: block;
		margin-bottom: 14px
	}
	.news {
		width: 90%;
		margin: 0 auto;
		font-size: 1.4rem;
		line-height: 1.6
	}
	.newstitle {
		text-align: center;
		color: #E32B2E;
		margin-bottom: 10px
	}
	.opentime {
		margin-bottom: 10px;
		padding-bottom: 10px
	}
	html {
		font-size: 13px
	}
}
/*ヘッダーイメージ部分差分*/
@media screen and (max-width:530px) {
	#mainimg .inner .catch2 img, #mainimg .inner .open-area, #mainimg .inner .txt img {
		width: 100%
	}
	#mainimg {
		overflow: hidden;
		text-align: center
	}
	#mainimg .inner {
		padding: 0 20px;
		text-align: center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-o-box-sizing: border-box;
		box-sizing: border-box;
		margin-top: 50px
	}
	#mainimg .inner .mainimg-block {
		position: relative;
		z-index: 100
	}
	#mainimg .inner .txt {
		vertical-align: top;
		margin-left: 20px;
		margin-top: -90px;
		margin-bottom: -50px;
		text-align: left;
		width: 100%;
		max-width: 190px
	}
	#mainimg .inner .txt span:first-of-type {
		margin-bottom: 5px;
		margin-right: 0
	}
	#mainimg .inner .catch2 {
		text-align: left;
		margin-left: 20px;
		margin-top: 60px;
		position: absolute
	}
	#mainimg .inner .open-area .btn {
		position: absolute;
		bottom: 50px;
		width: 400px;
		left: 50%;
		-webkit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		transform: translateX(-50%)
	}
	#mainimg .inner .open-area .btn a {
		padding: 15px 0
	}
	#mainimg .inner .open-area .btn a img {
		height: 22px;
		width: auto
	}
	#mainimg .inner .img {
		width: 100%;
		margin-bottom: -8px;
		z-index: 100;
		text-align: right
	}
	#mainimg .inner .img img {
		width: 100%;
		max-width: 220px
	}
	.loanTxt {
		line-height: 1.2;
		font-size: .7rem;
		text-align: left;
		width: 90%
	}
}
/*---------------アコーディオン---------------*/
div.accordion {
	width: 96%;
	max-width: 980px;
	margin: 0 auto;
	padding: 0 2% 10px
}
div.accordion > ul > li > a {
	display: block;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 700;
	text-decoration: none;
	background-color: #A6DB83;
	border-bottom: 1px solid #fff;
	cursor: pointer;
	padding: 20px 12px;
	position: relative
}
div.accordion ul {
	margin: 0;
	padding: 10px
}
div.accordion > ul > li > a:hover {
	background-color: #6DB947
}
div.accordion > ul > li > a.active:after, div.accordion > ul > li > a:after {
	font-size: 12px;
	position: absolute;
	right: 12px;
	top: 24px;
	color: #fff
}
div.accordion > ul > li > a:after {
	content: "▼"
}
div.accordion > ul > li > a.active:after {
	content: "▲"
}
div.accordion > ul > li > ul {
	display: none;
	background-color: #FFFEF0;
	border: 1px solid #A6DB83;
	margin-top: -1px
}
div.accordion > ul > li > ul > li > a {
	display: block;
	color: #000;
	font-size: 14px;
	background-color: #f7f3ed;
	border-bottom: 1px solid #fff;
	padding: 6px 12px;
	position: relative
}
/*---------------アニメーション---------------*/
.iv {
	opacity: 0;
	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-ms-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease
}
.animated {
	-webkit-animation-duration: .6s;
	animation-duration: .6s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both
}
.flipIn {
	-webkit-animation-name: flipIn;
	animation-name: flipIn;
	-webkit-transform-origin: center center;
	transform-origin: center center
}
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn
}
@keyframes floating {
	0%, 100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(30%);
	}
}
@-webkit-keyframes floating {
	0%, 100% {
		-webkit-transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(30%);
	}
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0
	}
	100% {
		opacity: 1
	}
}
@-webkit-keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		transform: translateX(-20px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		-webkit-transform: translateX(-20px);
		-ms-transform: translateX(-20px);
		transform: translateX(-20px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}
}
.fadeInLeft {
	-webkit-animation-name: fadeInLeft;
	animation-name: fadeInLeft
}
@-webkit-keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		transform: translateX(20px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		transform: translateX(0)
	}
}
@keyframes fadeInRight {
	0% {
		opacity: 0;
		-webkit-transform: translateX(20px);
		-ms-transform: translateX(20px);
		transform: translateX(20px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateX(0);
		-ms-transform: translateX(0);
		transform: translateX(0)
	}
}
.fadeInRight {
	-webkit-animation-name: fadeInRight;
	animation-name: fadeInRight
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}
@keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		-ms-transform: translateY(20px);
		transform: translateY(20px)
	}
	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0)
	}
}
.fadeInUp {
	-webkit-animation-name: fadeInUp;
	animation-name: fadeInUp
}
@-webkit-keyframes flipIn {
	0% {
		opacity: 0;
		-webkit-transform: rotateY(90deg);
		transform: rotateY(90deg)
	}
	100% {
		opacity: 1;
		-webkit-transform: rotateY(0);
		transform: rotateY(0)
	}
}
@keyframes flipIn {
	0% {
		opacity: 0;
		-webkit-transform: rotateY(90deg);
		-ms-transform: rotateY(90deg);
		transform: rotateY(90deg)
	}
	100% {
		opacity: 1;
		-webkit-transform: rotateY(0);
		-ms-transform: rotateY(0);
		transform: rotateY(0)
	}
}