@charset "UTF-8";
/* CSS Document */
@font-face {
 font-family: 'MyYuGothicM';
 font-weight: normal;
 src: local('YuGothic-Medium'), local('Yu Gothic Medium'), local('YuGothic-Regular');
}
@font-face {
	font-family: 'MyYuGothicM';
	font-weight: bold;
	src: local('YuGothic-Bold'), local('Yu Gothic');
}
body {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
	font-size: 100%;
	margin: 0;
	padding: 0;
}
#wrap {
	background: #f8f9fa;
}
.bg {
	background: #f1f0f0;
}
a {
	color: #fff;
	text-decoration: none;
}
a:hover {
	opacity: 0.6;
}

/*------------------スマホ-----------------*/
.way li {
	width: 49%;
	max-width: none;
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
}
.way span {
	line-height: 1.2;
	display: block;
	margin-bottom: 14px;
}
.pc {
	display: none;
}
.sp {
	display: block;
}
img.pc {
	display: none;
}
img.sp {
	display: inline;
}
.reflection-img {
	position: relative;
	overflow: hidden;
	padding: 8px 8px 2px 8px;
}
.reflection {
	height: 100%;
	width: 30px;
	position: absolute;
	top: -180px;
	left: 0;
	background-color: #fff;
	opacity: 0;
	transform: rotate(45deg);
	animation: reflection 2.5s ease-in-out infinite;
}
 @keyframes reflection {
 0% {
 transform: scale(0) rotate(45deg);
 opacity: 0;
}
 80% {
 transform: scale(0) rotate(45deg);
 opacity: 0.5;
}
 81% {
 transform: scale(4) rotate(45deg);
 opacity: 0.8;
}
 100% {
 transform: scale(50) rotate(45deg);
 opacity: 0;
}
}
header {
	background-image: url(/common-parts/image/bg_sp.png);
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	height: auto;
	min-width: 320px;
}
.logo {
	padding: 10px;
}
.logo h1 {
	display: inline-block;
	width: 200px;
}
.logo h1 img {
	width: 100%;
}
.official {
	width: 136px;
	line-height: 1.4;
	float: right;
	overflow: auto;
	display: inline-block;
}
.official a {
	display: block;
	background: #EC9091;
	font-size: 0.7rem;
	border: 1px solid #FFFFFF;
	line-height: 2.4;
	padding: 4px 6px 4px 10px;
	position: relative;
}
.official a:after {
	font-size: 0.5rem;
	position: absolute;
	right: 140px;
	top: 4px;
	color: #fff;
	right: 4px;
}
.official a:after {
	content: "▶︎";
}
header ul {
	margin-left: 8px;
	margin-top: 50px;
	margin-bottom: 20px;
}
header ul li {
	width: 58%;
	display: block;
	text-align: center;
}
header ul li img {
	width: 100%;
}
header ul li:nth-child(2) {
	display: none;
}
header p {
	font-size: 0.6rem;
	line-height: 1.2;
	padding: 20px 10px;
}
.smpbtn {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10000;
	width: 100%;
	border-top: 1px solid #ff2165;
	background: #ffffff;
}
.smpbtn img {
	width: 100%;
}
.inner {
	padding: 4%;
}
.headinner {
	padding: 0;
}
.headinner span {
	margin: 0 auto;
	text-align: center;
	display: block;
}
.headinner span img {
	width: 98%;
}
#chapter00 {
	background-color: #B8CDD0;
	color: #FFFFFF;
}
#chapter00 img {
	width: 100%;
}
#chapter01 {
	background-color: #D99BA5;
	color: #ffffff;
}
#chapter01 h2 {
	margin-bottom: 0px;
}
#chapter01 h3 {
	font-size: 1rem;
}
#chapter01 img {
	width: 100%;
}
#chapter01 p {
	font-size: 0.8rem;
	margin-top: 8px;
	margin-bottom: 14px;
}
#chapter02 {
	background-color: #B8CDD0;
	color: #FFFFFF;
}
#chapter02 img {
	width: 100%;
}
.icon {
	width: 30%;
	margin-bottom: -50px;
	margin-left: 30px;
}
.icon img {
	width: 100%;
}
#chapter02 h3 {
	width: 100%;
	max-width: 619px;
	margin: 10px 0 8px 0;
}
#chapter02 h4 {
	color: #3A3A3A;
	margin: 4px;
}
#chapter02 .first span {
	color: #B8CDD0;
	background: #FFFFFF;
	padding: 8px;
	margin-right: 4px;
}
#chapter02 .first {
	border: 1px solid #FFFFFF;
	padding: 4px 4px 4px 0;
	margin: 1%;
	margin-bottom: 10px;
}
#chapter02 p {
	font-size: 0.8rem;
	color: #3A3A3A;
}
#chapter02 .rbox p {
	width: 96%;
	display: block;
	border: 1px solid #FFFFFF;
	padding: 2%;
	margin-bottom: 10px;
}
#chapter02 .rbox img {
	width: 100%;
	display: block;
	margin-left: 0px;
}
#chapter02 .rbox {
	width: 100%;
	display: block;
}
.machine {
	display: block;
	margin: 0 auto;
	width: 60%;
	margin-top: 20px;
}
.caution {
	font-size: 0.6rem;
	color: #3A3A3A;
	margin: 0 4px;
	line-height: 1.2;
	margin-top: 10px;
}
#chapter03 {
	background-color: #D99BA5;
	color: #FFFFFF;
	padding: 10px 0;
}
#chapter03 img {
	width: 100%;
}
#chapter04 {
	background-color: #ffffff;
	padding: 10px 0;
}
#chapter04 h2 {
	color: #D99BA5;
	font-size: 1.2rem;
	font-weight: bold;
	background-image: url(/common-parts/image/title_bg01.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
}
#chapter04 ul li h3 {
	color: #D99BA5;
	padding: 10px 0 10px 40px;
	background-image: url(/common-parts/image/heart.png);
	background-repeat: no-repeat;
	background-position: 4px center;
	height: 20px;
	font-size: 0.9rem;
}
#chapter04 ul li {
	font-size: 0.8rem;
	margin-top: 14px;
}
#chapter04 ul li:last-child {
	margin-bottom: 14px;
}
#chapter04 .ema {
	margin-bottom: -31px;
}
#chapter04 .ema img {
	width: 100%;
}
#chapter05 {
	background-color: #B8CDD0;
	color: #FFFFFF;
	text-align: center;
}
#chapter05 img {
	width: 100%;
}
#chapter05_2 {
	padding: 20px 0;
	color: #0E0E0E;
	background-color: #B8CDD0;
}
#chapter05_2 .inner {
	text-align: center;
	background-image: url(/common-parts/image/bg_price_sp.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 50px 12px 30px 12px;
	margin: 0 10px;
}
#chapter05_2 .menu {
	width: 100%;
	display: inline-block;
	padding-bottom: 8px;
}
#chapter05_2 .price {
	display: inline-block;
	border-top: 1px solid #B8CDD0;
	width: 100%;
	padding-top: 8px;
}
#chapter05_2 ul {
	margin: 0 auto;
	width: 100%;
	margin-top: 20px;
}
#chapter05_2 ul li {
	border: 2px solid #B8CDD0;
	padding: 8px 2%;
	text-align: left;
	margin-top: 10px;
	width: 96%;
}
#chapter05_2 ul li:last-child {
	border-bottom: 2px solid #B8CDD0;
	height: 80px;
}
#chapter05_2 ul li:last-child .menu {
	line-height: 1.2;
}
#chapter05_2 ul li:last-child .price {
}
#chapter05_2 ul li span {
	font-size: 0.8rem;
}
#chapter05_2 p {
	margin: 10px 0 10px 0;
	font-size: 1;
	text-align: left;
}
#chapter05_2 a img {
	width: 100%;
}
#chapter06 {
	background-color: #B8CDD0;
	color: #FFFFFF;
	padding-top: 0px;
}
#chapter06 h2 {
	font-size: 0.8rem;
	font-weight: bold;
	text-align: center;
}
#chapter06 h2 img {
	width: 100%;
}
#chapter06 ul li span:after {
	margin: 24px 0;
	background-image: url(/common-parts/image/q.png);
	background-repeat: no-repeat;
	background-position: right;
	display: block;
}
#chapter06 ul li span.active:after {
	margin: 24px 0;
	background-image: url(/common-parts/image/a.png);
	background-repeat: no-repeat;
	background-position: right;
	display: block;
}
#chapter06 ul li h3 {
	font-size: 1rem;
	line-height: 1.2;
	font-weight: bold;
	background-image: url(/common-parts/image/q.png);
	background-repeat: no-repeat;
	background-position: 10px;
	padding-left: 30px;
	margin-bottom: 18px;
	border: 1px solid #FFFFFF;
	padding: 14px 14px 14px 44px;
}
#chapter06 ul li h3:after {
	font-size: 0.5rem;
	position: absolute;
	color: #fff;
}
#chapter06 ul li p {
	font-size: 0.8rem;
	color: #3A3A3A;
	font-weight: bold;
	background-image: url(/common-parts/image/a.png);
	background-repeat: no-repeat;
	background-position: 10px top;
	padding-left: 44px;
	display: none;
}
#chapter06 ul li a {
	font-size: 0.8rem;
	color: #ffffff;
	font-weight: bold;
	background: #4B74FF;
	padding: 8px;
	border-radius: 8px;
	margin-top: 10px;
	display: block;
	width: 70%;
	font-size: 0.7rem;
}
#chapter06_2 {
	background-color: #B8CDD0;
	color: #FFFFFF;
	padding-top: 30px;
}
#chapter06_2 h2 {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
#chapter06_2 br {
	display: none;
}
#chapter06_2 ul li {
	display: block;
}
#chapter06_2 ul li img {
	width: 100%;
	max-width: 300px;
	text-align: center;
}
#chapter06_2 ul li:first-child {
	width: 290px;
	margin: 0 auto;
}
#chapter06_2 ul li:nth-child(2) {
	width: 100%;
	vertical-align: top;
	padding: 0;
	line-height: 1.4;
}
#chapter07 {
	background-color: #B8CDD0;
	color: #FFFFFF;
	padding-top: 30px;
}
#chapter07 h2 {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
}
#chapter07 img {
	width: 100%;
}
.accordion {
	width: 100%;
	margin-bottom: 20px;
}
.accordion p {
	margin-bottom: 20px;
}
.accordion > ul > li > a {
	display: block;
	color: #fff;
	font-size: 1.2rem;
	text-decoration: none;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	padding: 14px 12px;
	position: relative;
	margin: 10px 0 0 0;
}
.accordion > ul > li > a:hover {
	background-color: #3DA6F2;
}
.accordion > ul > li > a:after, .accordion > ul > li > a.active:after {
	font-size: 12px;
	position: absolute;
	right: 12px;
	top: 20px;
	color: #fff;
}
.accordion > ul > li > a:after {
	content: "▼";
}
.accordion > ul > li > a.active:after {
	content: "▲";
}
.accordion > ul > li > ul {
	display: none;
	background-color: #fff;
	margin-top: -1px;
}
.accordion > ul > li > ul > li > a {
	display: block;
	color: #000;
	font-size: 1rem;
	background-color: #f7f3ed;
	padding: 6px 2%;
	position: relative;
}
.accordion table {
	width: 96%;
}
.accordion table th, .accordion table td {
	padding: 10px 2.1%;
	vertical-align: middle;
	display: block;
	width: 100%;
}
.accordion table th {
	background-color: #eaeaea;
	color: #000000;
	font-weight: bold;
}
.accordion table td {
	background-color: #f5f6f8;
	color: #000000;
	font-size: 0.8rem;
}
.accordion table td a {
	color: #333;
}
.accordion table thead th {
	color: #FFF;
}
.qa > ul > li > h3 {
	display: block;
	color: #fff;
	font-size: 1.2rem;
	text-decoration: none;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	padding: 14px 24px 14px 38px!important;
	position: relative;
	margin: 10px 0 0 0;
}
.qa > ul > li > h3:hover {
	background-color: #3DA6F2;
}
.qa > ul > li > h3:after, .qa > ul > li > h3.active:after {
	font-size: 12px;
	position: absolute;
	right: 12px;
	top: 20px;
	color: #fff;
}
.qa > ul > li:nth-child(2) > h3:after, .qa > ul > li:nth-child(2) > h3.active:after {
	font-size: 12px;
	position: absolute;
	right: 12px;
	top: 28px;
	color: #fff;
}
.qa > ul > li > h3:after {
	content: "▼";
}
.qa > ul > li > h3.active:after {
	content: "▲";
}
.introduce {
	margin: 0 auto;
	padding: 0px 0 2px 0;
	width: 98%;
	position: relative;
	display: block;
}
.introduce h2 {
	font-size: 1.4rem;
	font-weight: bold;
	color: #672500;
	text-align: center;
	margin: 20px 0 0px 0;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "serif";
}
.introduce h3 {
	text-align: center;
}
.introduce h3 img {
	width: 70%;
	margin: 14px 0;
	max-width: 400px;
}
.introduce h4 {
	font-size: 1.2rem;
	background-color: #47D1ED;
	text-align: center;
	color: #FFFFFF;
	padding: 8px;
	font-size: 18px;
}
.introduce ul li {
	background-color: #F1FDFF;
	padding: 8px 0 6px 4px;
	margin: 4px 0;
	color: #000000;
	font-size: 0.7rem;
	font-weight: bold;
}
.introduce ul li img {
	opacity: 0.9;
	max-width: 500px;
}
.lastbtn {
	margin: 20px 0;
	display: none;
}
footer {
	font-size: 0.6rem;
	text-align: center;
	margin: 10px 0;
	padding-bottom: 80px;
}

/*------------------スマホend---------------*/
@media screen and (max-width: 320px) {
#chapter02 .first {
	font-size: 0.8rem;
}
#chapter04 h2 {
	font-size: 1rem;
}
#chapter04 ul li h3 {
	font-size: 0.8rem;
	padding: 10px 0 10px 22px;
	background-position: -1px center;
	background-size: 20px;
}
#chapter06 h2 {
	font-size: 0.9rem;
}
#chapter06 ul li h3 {
	font-size: 0.9rem;
}
.qa > ul > li > h3 {
	display: block;
	color: #fff;
	font-size: 1.2rem;
	text-decoration: none;
	border: 1px solid #FFFFFF;
	cursor: pointer;
	padding: 14px 32px 14px 38px!important;
	position: relative;
	margin: 10px 0 0 0;
}
}

/*-----------------タブレット---------------*/
@media screen and (min-width:480px) and ( max-width:624px) {
.way li {
	width: 24%;
	max-width: 240px;
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
}
.way span {
	line-height: 1.2;
	display: block;
	margin-bottom: 14px;
}
header {
	background-image: url(/common-parts/image/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: auto;
}
header ul {
	margin-left: 8px;
	margin-top: 60px;
	margin-bottom: 20px;
}
header ul li {
	width: 50%;
}
header ul li img {
	width: 100%;
}
header ul li:nth-child(2) {
	display: block;
}
.smpbtn {
	display: none;
}
#chapter01 ul li {
	display: inline-block;
	width: 49%;
}
#chapter04 h2 {
	font-size: 1.6rem;
	background-size: 480px;
	height: 40px;
	padding-top: 10px;
}
#chapter04 .ema {
	width: 400px;
	margin: 0 auto;
	margin-bottom: -7%;
}
.introduce ul li {
	font-size: 1rem;
}
}

@media screen and (min-width:625px) and ( max-width:909px) {
.pc {
	display: none;
}
.sp {
	display: block;
}
img.pc {
	display: none;
}
img.sp {
	display: inline;
}
header {
	background-image: url(/common-parts/image/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: auto;
}
header ul {
	margin-left: 8px;
	margin-top: 60px;
	margin-bottom: 20px;
}
header ul li {
	width: 50%;
}
header ul li img {
	width: 100%;
}
header ul li:nth-child(2) {
	display: block;
}
#chapter01 ul li {
	display: inline-block;
	width: 49%;
}
.smpbtn {
	display: none;
}
#chapter02 h3 img {
	width: 84%;
}
#chapter02 .rbox {
}
#chapter02 .rbox p {
	font-size: 1rem;
}
#chapter02 .rbox img {
	margin-top: 40px;
	width: 580px;
	margin: 0 auto;
	padding-top: 20px;
}
#chapter02 ul li {
	margin-top: 14px;
	width: 100%;
}
.machine {
	float: right;
	width: 23%;
	margin-right: 1%;
	margin-top: 33%;
}
.points {
	float: left;
	width: 75%;
}
#chapter04 h2 {
	font-size: 1.8rem;
	background-size: 568px;
	height: 46px;
	padding-top: 10px;
}
#chapter04 .ema {
	width: 400px;
	margin: 0 auto;
	margin-bottom: -7%;
}
#chapter05_2 {
	padding: 10px 0;
}
#chapter05_2 .inner {
	padding: 50px 12px 30px 12px;
	margin: 0 10px;
}
#chapter05_2 .menu {
	width: 100%;
	display: inline-block;
	padding-bottom: 8px;
}
#chapter05_2 .price {
	display: inline-block;
	border-top: 1px solid #B8CDD0;
	width: 100%;
	padding-top: 8px;
}
#chapter05_2 ul {
	margin: 0 auto;
	width: 90%;
	margin-top: 20px;
 padding: 0 5%:
}
#chapter05_2 ul li {
	border: 2px solid #B8CDD0;
	padding: 8px 2%;
	text-align: left;
	margin-top: 10px;
	width: 96%;
}
#chapter05_2 ul li:last-child {
	border-bottom: 2px solid #B8CDD0;
	height: 80px;
}
#chapter05_2 ul li:last-child .menu {
	line-height: 1.2;
}
#chapter05_2 ul li:last-child .price {
}
#chapter05_2 ul li span {
	font-size: 0.8rem;
}
#chapter05_2 p {
	margin: 30px 5%;
	font-size: 1;
	text-align: left;
}
#chapter05_2 a img {
	width: 100%;
}
#chapter05_2 .btn-price {
	min-width: 600px;
	max-width: 80%;
	text-align: center;
	margin: 0 auto;
}
#chapter06 ul li a {
	width: 240px;
}
#chapter06 h2 {
	font-size: 1.1rem;
	font-weight: bold;
	background-image: url(/common-parts/image/title_bg02.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
}
#chapter06_2 {
	background-color: #B8CDD0;
	color: #FFFFFF;
	padding-top: 30px;
}
#chapter06_2 h2 {
	font-size: 1.2rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
#chapter06_2 ul {
	margin: 0 auto;
	display: block;
	text-align: center;
}
#chapter06_2 ul li {
	display: inline-block;
	text-align: left;
}
#chapter06_2 ul li img {
	width: 100%;
}
#chapter06_2 ul li:first-child {
	width: 30%;
}
#chapter06_2 ul li:nth-child(2) {
	width: 62%;
	vertical-align: top;
	padding: 2%;
}
.introduce ul li {
	font-size: 1rem;
}
}

/*---------------タブレットend---------------*/

/*-----------------デスクトップ--------------*/

@media screen and (min-width:910px) {
.way li {
	width: 24%;
	max-width: 240px;
	display: inline-block;
	vertical-align: top;
	margin: 0 auto;
}
.way span {
	line-height: 1.2;
	display: block;
	margin-bottom: 14px;
}
.pc {
	display: block;
}
.sp {
	display: none;
}
img.pc {
	display: inline;
}
img.sp {
	display: none;
}
header {
	background-image: url(/common-parts/image/bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: auto;
}
header p {
	margin-left: 16px;
	margin-top: 120px;
}
header ul li {
	width: 45%;
	display: block;
	text-align: center;
}
header ul li:first-child {
	width: 44%;
	margin-left: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
}
header ul li:nth-child(2) {
	display: none;
	margin-bottom: 40px;
}
.logo h1 {
	width: 260px;
}
#chapter00 {
	text-align: center;
}
.smpbtn {
	display: none;
}
.headinner {
	max-width: 900px;
	margin: 0 auto;
}
.inner {
	padding: 2%;
	max-width: 900px;
	margin: 0 auto;
}
#chapter01 h2 {
	font-size: 1.4rem;
	line-height: 1.4;
	padding-top: 0px;
}
#chapter01 h3 {
	font-size: 1.4rem;
	font-weight: bold;
}
#chapter01 p {
	font-size: 1rem;
	margin: 10px 0;
}
#chapter01 .lbox {
	width: 230px;
	display: inline-block;
	vertical-align: top;
}
#chapter01 .rbox {
	width: 570px;
	display: inline-block;
	padding: 30px;
}
#chapter01 ul {
	position: absolute;
	margin-left: 264px;
	margin-top: -224px;
}
#chapter01 ul li {
	width: 264px;
	display: inline-block;
}
#chapter01 ul li:nth-child(2) {
	margin-left: 20px;
}
#chapter02 {
	padding-bottom: 30px;
}
#chapter02 h3 {
	margin-top: 50px;
}
#chapter02 h4 {
	font-size: 1.3rem;
	width: 210px;
	display: inline-block;
}
#chapter02 .first span {
	color: #B8CDD0;
	background: #FFFFFF;
	padding: 8px;
	margin-right: 4px;
}
#chapter02 .first {
	width: 420px;
	font-size: 1.3rem;
	display: inline-block;
}
#chapter02 p {
	font-size: 1rem;
	color: #3A3A3A;
	position: absolute;
	width: 900px;
}
#chapter02 ul {
	font-size: 1rem;
	margin-top: -30px;
}
#chapter02 ul li .rbox .caution {
	display: block;
	width: 420px;
	margin-left: 420px;
}
#chapter02 ul li:nth-child(2) .rbox img {
	margin-top: -100px;
}
#chapter02 .rbox p {
	width: 380px;
	display: inline-block;
	border: none;
}
#chapter02 .rbox img {
	width: 450px;
	display: inline-block;
	margin-left: 420px;
}
#chapter04 h2 {
	font-size: 1.8rem;
	background-size: 568px;
	height: 46px;
	padding-top: 10px;
}
#chapter04 ul li {
	font-size: 0.9rem;
	margin-top: 14px;
	display: inline-block;
	width: 429px;
	vertical-align: top;
}
#chapter04 ul li h3 {
	color: #D99BA5;
	padding: 10px 0 10px 40px;
	background-image: url(/common-parts/image/heart.png);
	background-repeat: no-repeat;
	background-position: 4px center;
	height: 20px;
	font-size: 1.1rem;
}
#chapter04 ul li:last-child {
	margin-bottom: 14px;
}
#chapter04 .ema {
	text-align: center;
	margin-top: 40px;
	margin-bottom: -36px;
}
#chapter04 .ema img {
	width: 400px;
}
#chapter05 {
	background-image: none;
	padding-top: 30px;
}
#chapter05 .inner {
	background-color: #B8CDD0;
	background-image: url(/common-parts/image/box.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	color: #FFFFFF;
	padding: 30px;
	text-align: center;
	width: 850px;
}
#chapter05 img {
	width: 85%;
}
#chapter05_2 {
	background-color: #B8CDD0;
	padding: 20px 0;
	height: 750px;
	color: #0E0E0E;
	margin: 0 auto;
	text-align: center;
}
#chapter05_2 .inner {
	background-color: #B8CDD0;
	background-image: url(/common-parts/image/bg_price.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	padding: 30px;
	text-align: center;
	width: 836px;
	margin: 0 auto;
}
#chapter05_2 .menu {
	width: 350px;
	padding: 22px;
	display: inline-block;
}
#chapter05_2 .price {
	display: inline-block;
	border-left: 2px solid #B8CDD0;
	width: 200px;
	padding: 22px;
	border-top: none;
}
#chapter05_2 ul {
	margin: 0 auto;
	width: 640px;
	margin-top: 20px;
}
#chapter05_2 ul li {
	border: 2px solid #B8CDD0;
	border-bottom: none;
	text-align: left;
	padding: 0px;
	width: 640px;
	margin: 0;
}
#chapter05_2 ul li:last-child {
	border-bottom: 2px solid #B8CDD0;
	height: 80px;
}
#chapter05_2 ul li:last-child .menu {
	padding: 18px 22px;
}
#chapter05_2 ul li:last-child .price {
	padding: 28px 22px;
	margin: 0;
	position: absolute;
}
#chapter05_2 ul li span {
	font-size: 0.8rem;
}
#chapter05_2 p {
	margin: 38px 0 30px;
0;
	text-align: center;
}
#chapter05_2 a img {
	width: 400px;
}
#chapter06 ul li a {
	width: 240px;
}
#chapter06_2 {
	background-color: #B8CDD0;
	color: #FFFFFF;
	padding-top: 30px;
}
#chapter06_2 h2 {
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
	margin-bottom: 20px;
}
#chapter06_2 br {
	display: block;
}
#chapter06_2 ul {
	text-align: center;
}
#chapter06_2 ul li {
	display: inline-block;
	text-align: left;
}
#chapter06_2 ul li img {
	width: 100%;
}
#chapter06_2 ul li:first-child {
	width: 30%;
}
#chapter06_2 ul li:nth-child(2) {
	width: 62%;
	vertical-align: top;
	padding: 2%;
}
#chapter07 {
	background-color: #B8CDD0;
	color: #FFFFFF;
	padding-top: 30px;
}
#chapter07 h2 {
	font-size: 1.6rem;
	font-weight: bold;
	text-align: center;
}
#chapter07 img {
	width: 100%;
}
.lastbtn {
	margin: 20px 0;
	display: block;
}
.introduce ul li {
	font-size: 1rem;
	padding-left: 20px;
}
}

/*---------------デスクトップend-------------*/

/*--------------ワイドデスクトップ------------
@media screen and (min-width:1281px) {
}
/*------------ワイドデスクトップend----------*/
