/*--------------ワイドデスクトップ------------*/
@media screen and (min-width:1281px) {
/*----toggle----*/
#mobile-head {
  display: inline-block;
}

/* header */
#top-head {
  top: -100px;
  position: absolute;
  width: 100%;
  margin: 100px auto 0;
  padding: 0;
  line-height: 1;
  z-index: 999;
}
#top-head .headerinner {
  position: relative;
}
#global-nav {
  vertical-align: top;
  padding: 10px 0;
  right: 0;
  position: absolute;
  top: 0;
  background: none;
  text-align: right;
  width: 1110px;
}
#mobile-head {
  background: none;
}
/* Fixed */
#top-head.fixed {
  margin-top: 0;
  top: 0;
  position: fixed;
  padding-top: 10px;
  height: 55px;
  background: #fff;
  background: rgba(255,255,255,.7);
  transition: top 0.65s ease-in;
  -webkit-transition: top 0.65s ease-in;
  -moz-transition: top 0.65s ease-in;
}
#nav-toggle {
  display: none;
}
.open #global-nav {
  -moz-transform: translateY(0px);
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
/*----end----*/
}/*-----ワイドデスクトップEND-----*/