@charset "utf-8";

/*----------------------------------------------------
common
----------------------------------------------------*/
* {
	padding: 0;
	margin: 0;
}
html {
	height: 100%;
	line-height: 140%;
}

body {
	font-size: 1.0em;
	background-color: #f4e7d8;
	height: 100%;
	line-height: 140%;
}

body#lp {
	font-size: 1.0em;
	background-color: #fff;
	height: 100%;
	line-height: 140%;
}

p {
	color: #000;
	font-size: 0.8em;
	line-height: 140%;
	margin: 5px;
}
section {
	padding: 0 10px;
	height: 100%;
	min-height: 100%;
	width: 1000px;
	margin: 0 auto;
}

#undercolumn {
	background-color: #FFF;
	padding: 0 75px;
	height: auto;
	min-height: 100%;
	text-align: center;
}
hr  {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #f0e8da, #a0824e, #f0e8da);
    background-image:    -moz-linear-gradient(left, #f0e8da, #a0824e, #f0e8da);
    background-image:     -ms-linear-gradient(left, #f0e8da, #a0824e, #f0e8da);
    background-image:      -o-linear-gradient(left, #f0e8da, #a0824e, #f0e8da);
	margin-bottom: 10px;
}

/*----------------------------------------------------
font effect
----------------------------------------------------*/

.attention {
	color: #FF0000;
}
.bgyellow {
	background-color: #fbf6f3;
}
.largefont {
	font-size: 1.2em;
	line-height: 140%;
}

/*----------------------------------------------------
action effect
----------------------------------------------------*/
.center {
	text-align: center;
}
.left {
	text-align: left;
}
.width5 {
	width: 5%;
}
.width10 {
	width: 10%;
}
.width15 {
	width: 15%;
}
.width20 {
	width: 20%;
}
.width25 {
	width: 25%;
}
.width30 {
	width: 30%;
}
.width35 {
	width: 35%;
}
.width40 {
	width: 40%;
}
.width45 {
	width: 45%;
}
.width50 {
	width: 50%;
}
.width55 {
	width: 55%;
}
.width60 {
	width: 60%;
}
.width65 {
	width: 65%;
}
.width70 {
	width: 70%;
}
.width75 {
	width: 75%;
}
.width80 {
	width: 80%;
}
.width85 {
	width: 85%;
}
.width90 {
	width: 90%;
}
.width95 {
	width: 95%;
}
.width100 {
	width: 100%;
}

.attention{
  color:#f00;
  font-weight:600;
}
#btn_confirm {
    border: 0px;
    width: 256px;
    height: 72px;
    background: url("../../img/pc/reservation/btn_confirm.jpg") left top no-repeat;
    cursor:pointer;
}
#confirm_back {
    border: 0px;
    width: 145px;
    height: 40px;
    background: url("../../img/pc/reservation/btn_back.jpg") left top no-repeat;
    cursor:pointer;
}
.alert{
  color:#f00;
}