@charset "utf-8";
/*----------------------------------------------------
input/select
----------------------------------------------------*/

input[type="text"] {
	margin:5px 0;
	width: 98%;
}
input[type="tel"] {
	margin:5px 0;
	width: 98%;
}
select.boxLong {
	width:98%;
	padding:5px 0;
	margin:5px 0;
	height: 40px;
}
.textarea {
	width: 98%;
	padding: 2%;
	margin:5px 0 10px 0;
}
label {
	padding: 10px;
	margin-left: 10px;
	width:140px;
}
label:hover {
	background:#FAE7B8;
	color: #3C1F0B;
	padding: 10px;
	margin-left: 10px;
	width:140px;
}



#search_reservation {
    border: 0px;
	width: 256px;
    height: 61px;
    background: url(../../img/sp/reservation/btn_vacancy.png) left top no-repeat;
	background-size: 100%;
	text-indent: -9999px;  
    cursor: pointer;  
}