@charset "utf-8";

/*----------------------------------------------------
table
----------------------------------------------------*/

table {
	width: 100%;
	margin: 0 0 10px 0;
}

tr {
}

td {
	padding: 10px;
	border: 1px solid #ccc;
}

.bggray {
	background-color: #eee;
}

/*----------------------------------------------------
dl dt dd
----------------------------------------------------*/

dt {
	font-size: 100%;
	font-weight: bold;
	margin: 5px 0 5px 0;
}