@charset "utf-8";
/* CSS Document */

div#howto {
	width: 98%;
	padding: 1%;
	height: 300px;
	overflow: auto;
	text-align: left;
}
div#survey {
	width: 20%;
	float: left;
	padding: 1%;
	margin-left: 10%;
	text-align: left;
}
